@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --max-text-width: calc(100vw - 8rem);
    --primary-text-colour: #F0F8FF;
}

::selection {
    background-color: beige;
    color: #000;
}

html,
body {
    background-color: black;
    color: var(--primary-text-colour);
    height: auto;
}

html {
    min-height: 100vh;
}

.red a {
    color: hotpink;
}

img,
.box {
    border-radius: .25rem;
}

picture {
    overflow: hidden;
}

picture img {
    height: 100%;
    width: auto;
    max-width: initial;
    width: auto;
    min-width: 100%;
    height: 100lvh;
    min-height: 100lvh;
    object-fit: cover;
    object-position: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#hero1 {
    width: auto;
    min-width: 100%;
    height: 100lvh;
    min-height: 100lvh;
    object-fit: cover;
    object-position: left;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: sticky;
    top: 0;
}


#hero2,
.auto-hero {
    width: 100%;
    min-height: 101vh;
    min-height: 101lvh;
    object-fit: cover;
    object-position: left;
    border-top: 0;
    position: absolute;
    top: 0;
}

header {
    right: 8rem;
    top: 4.5rem;
    text-align: end;
    color: var(--primary-text-colour);
    padding-inline: .5rem;
}

header h1 {
    font-size: 8rem;
    line-height: 5rem;
}

header h1 .bi-music-note::before {
    transform: rotate(15deg);
    position: relative;
    right: 2rem;
    top: .5rem;
    font-size: 1rem;
}






.translations {
    position: absolute;
    top: 5px;
    right: 8px;
}

.translations img {
    height: 37px;
    cursor: pointer;
    transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}












@media all and (min-width: 1050px) {
    .box h2 i::before {
        font-size: 2.5rem
    }
}

@media all and (max-width: 1050px) {
    header h1 {
        font-size: 6rem;
        line-height: 3.3rem;
    }

}

@media all and (max-width: 828px) {
    header h1 {
        font-size: 3rem;
        line-height: 2rem;
    }
}

@media all and (max-width: 828px) {
    header {
        right: 2rem
    }
}

@media all and (max-width: 550px) {
    #made_with {
        margin-top: 1rem;
    }

    header {
        top: 3rem;
    }
}

@media all and (max-width: 267px) and (min-width: 250px)
/* ,all and (max-width: 366px) */
    {
    .bi-music-note {
        display: none;
    }
}

@media all and (max-width: 420px) {
    header {
        right: 1rem;
        top: 2rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    ul {
        padding-left: 1rem;
    }
}

@media all and (max-width: 384px) {
    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.25rem;
        margin-right: 1rem;
    }

    header h1 .bi-music-note::before {
        right: 1.4rem;
        top: 0.5rem;
        font-size: 0.8rem;
    }
}


@media all and (max-width: 246px) {
    .box h2 i {
        display: none;
    }

    #contatti {
        margin-bottom: 1rem !important;
    }
}

@media all and (max-height: 670px) {
    header {
        top: 2rem;
    }
}

.red .container {
    min-height: 80lvh;
}

.box-container {
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    padding-bottom: .25rem;
    gap: 10px;
}

.box {
    flex: 1;
    background-color: hsla(0, 0%, 100%, 0.2);
    padding: 1em;
    padding-bottom: 1rem;
    /* margin: 5px; */
    box-sizing: border-box;
    height: ma-content;
    backdrop-filter: blur(5px) brightness(90%);
    -webkit-backdrop-filter: blur(5px) brightness(90%);
    height: auto;
    position: sticky;
    top: .25rem;
}

@media all and (max-width: 982px) {
    .box {
        flex-basis: calc(50% - 10px);
    }

    .box-container .box:nth-child(1) {
        backdrop-filter: blur(5px) brightness(90%);
        -webkit-backdrop-filter: blur(5px) brightness(90%);
    }

    .box-container .box:nth-child(2) {
        backdrop-filter: blur(6px) brightness(80%) contrast(1.1);
        -webkit-backdrop-filter: blur(6px) brightness(80%) contrast(1.1);
    }

    .box-container .box:nth-child(3) {
        backdrop-filter: blur(7px) brightness(70%) contrast(1.2);
        -webkit-backdrop-filter: blur(7px) brightness(70%) contrast(1.2);
    }


}

@media all and (max-width: 738px) {
    .box {
        flex-basis: calc(100% - 10px);
    }
}

h2 i {
    opacity: .2;
    float: inline-end;
    padding-left: .5rem;
    transition: opacity 0.5s ease-in-out, transform 0.25s ease-in-out;
}

h2 i:hover {
    transform: scale(1.05);
    opacity: .5;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 50rem;
    margin: 0 auto;
}

.image-gallery>img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;
}

.image-gallery:has(img:hover) img:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
}

.user-select-text {
    user-select: text;
}

body,
header,
header h1,
h2,
h3,
#socials a {
    color: var(--primary-text-colour);
}

a#email i.bi::before {
    color: inherit;
    padding-right: .5rem;
    transition: transform 0.25s ease-in-out;
}

a#email:hover i::before {
    transform: scale(1.1);
}

@media all and (max-width: 377px) {
    a#email i.bi::before {
        padding-inline: 0;
    }
}

a,
i::before {
    text-decoration: none;
    color: beige;
    transition: opacity 0.3s ease-in-out;
}

a:hover {
    opacity: 0.9;
}

#blob {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to right, #c02425, #f0cb35);
    animation: blobanimate 10s infinite linear forwards;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    z-index: -2;
    transition: 750ms linear;
}

#overlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

@keyframes blobanimate {
    0% {
        transform: rotate(0deg) scaley(100%);
    }

    50% {
        transform: rotate(180deg) scaley(70%);
    }

    100% {
        transform: rotate(360deg) scaley(100%);
    }
}


.shake a:hover i::before {
    animation: shake 1700ms;
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }

    10% {
        transform: rotateZ(-50deg);
    }

    20% {
        transform: rotateZ(25deg);
    }

    30% {
        transform: rotateZ(-16.6666666667deg);
    }

    40% {
        transform: rotateZ(12.5deg);
    }

    50% {
        transform: rotateZ(-10deg);
    }

    60% {
        transform: rotateZ(8.3333333333deg);
    }

    70% {
        transform: rotateZ(-7.1428571429deg);
    }

    80% {
        transform: rotateZ(6.25deg);
    }

    90% {
        transform: rotateZ(-5.5555555556deg);
    }

    100% {
        transform: rotateZ(0);
    }
}


ul.rectangle,
ul.rectangle ul {
    list-style-type: none;
    padding: 0;
}

ul.rectangle li {
    position: relative;
    padding-left: 1rem;
}

ul.rectangle li:before {
    --down: .5rem;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 3px;
    height: 100%;
    background-color: beige;
    transform: translateY(-50%);
    border-radius: .25rem;
}

ul.rectangle li:first-child:before {
    top: calc(50% + var(--down));
}

ul.rectangle li:last-child:before {
    top: calc(50% - var(--down));
}



details summary::after {
    margin-left: -1rem !important;
    margin-top: .5rem;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    margin-bottom: .5rem;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}




:where(button, [type="submit"], [type="reset"], [type="button"], [role="button"])[disabled],
:where(fieldset[disabled]) :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]) {
    opacity: .4;
    filter: brightness(.7);
    pointer-events: none;
}

[aria-disabled="true"],
[disabled] {
    cursor: not-allowed;
}